/* Root */
:root {
    color-scheme: light dark;

    --primary-text: #111111;
    --secondary-text: #757575;
    --tertiary-text: #959595;

    --primary-background: white;
    --secondary-background: #EDEDED;

    --tint: #087AD2;
    --highlighted: #B5D9F5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: white;
        --secondary-text: #CFCFCF;
        --tertiary-text: #757575;

        --primary-background: #1D1D1D;
        --secondary-background: #3B3B3B;

        --tint: #30A5FF;
        --highlighted: #185280;
    }
}

/* Body */
html {
    background-color: var(--primary-background);
}

body {
    margin: 0 0 0 0;
}

html, body {
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Container */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 0;

    color: var(--primary-text);

    font-family: 'SourceSansPro', Helvetica, Arial, sans-serif;
}

/* Content */
.profile-picture {
    margin: min(10%, 32pt);

    width: 320px;
    height: auto;

    max-width: 50%;
    max-height: 50%;

    border-radius: 50%;
}

.content {
    padding: 16pt;

    display: flex;
    flex-direction: column;
    max-width: 500pt;
}

h1 {
    margin: 0;
    font-size: 28pt;
    font-weight: 700;
}

h2 {
    margin: 0;
    margin-top: 24pt;
    font-size: 20pt;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 18pt;
    font-weight: 600;

    color: var(--secondary-text);
}

p {
    margin-bottom: 0;
    font-size: 14pt;
    font-weight: 400;
}

.legal p {
    margin-top: 4pt;
}

.content a {
    color: var(--primary-text);
    text-decoration: underline;
}

.content p {
    line-height: 1.5;
}

/* Contact and CV */
.contact-cv {
    padding: 0pt;
    margin: 16pt 16pt 32pt 16pt;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32pt;
}

/* Links */
.links {
    padding: 0pt;
    margin: 0pt;
    margin-top: 8pt;
    list-style-type: none;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links li {
    margin: 8pt;
    width: 40pt;
    height: 40pt;
    border-radius: 12pt;

    background: var(--secondary-background);
}

.links img {
    width: 100%;
    height: auto;
}

.links li a {
    display: block;
    text-decoration: none;
    color: var(--primary-text);
    padding: 8pt;
}

.links li a:hover {
    text-decoration: none;
    color: var(--primary-text);
}

/* Footer */
footer {
    font-family: 'SourceSansPro', Helvetica, Arial, sans-serif;
    margin-top: 16pt;
    margin-bottom: 16pt;
}

@supports(margin-bottom: max(0pt)) {
    footer {
        margin-bottom: max(16pt, env(safe-area-inset-bottom));
    }
}

footer p {
    color: var(--tertiary-text);
    font-size: 13pt;
    font-weight: 600;
    text-align: center;
    margin: 0 0 0 0;
}

footer a {
    color: var(--tertiary-text);
}

/* Buttons */
.button {
    transition: background 0.3s;

    margin: 16pt;

    padding: 10pt 20pt 10pt 20pt;
    border-radius: 50vh;

    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    color: var(--primary-text);
    background: var(--secondary-background);

    border: none;
    cursor: pointer;
}

.button:hover {
    transition: background 0.3s;

    text-decoration: none;

    color: var(--primary-text);
    background: var(--highlighted);
}

.button-secondary {
    color: var(--primary-background);
    background: var(--primary-text);
}

.button-secondary:hover {
    color: var(--primary-background);
    background: var(--tint);
}

.button-fixed {
    width: 100pt;
    margin: 0pt;
}

/* General */
a {
    transition: color 0.15s;
}

a:hover {
    transition: color 0.15s;
    color: var(--tint);
    text-decoration: underline;
}

.highlightable {
    transition: background 0.3s;
}

.highlightable:hover {
    background: var(--highlighted);
}

@media only screen and (max-width: 370px) {
    .profile-picture {
        margin: 8pt;
    }
    .links {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .contact-cv {
        flex-direction: column;
        gap: 16pt;
    }
}

/* Fonts */
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Regular.woff2') format("woff2"), url('../fonts/SourceSansPro-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 600;
    src: url('../fonts/SourceSansPro-SemiBold.woff2') format("woff2"), url('../fonts/SourceSansPro-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 700;
    src: url('../fonts/SourceSansPro-Bold.woff2') format("woff2"), url('../fonts/SourceSansPro-Bold.ttf') format("truetype");
}
