/* Root */
.primary-tinted {
    filter: brightness(0.07);
}

:root {
    color-scheme: light dark;

    --primary-text: #111111;
    --secondary-text: #757575;
    --tertiary-text: #959595;

    --primary-background: white;
    --secondary-background: #F3F3F3;

    --tint: #087AD2;
    --highlighted: #B5D9F5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: white;
        --secondary-text: #CFCFCF;
        --tertiary-text: #757575;

        --primary-background: #1D1D1D;
        --secondary-background: #323232;

        --tint: #30A5FF;
        --highlighted: #185280;
    }
    .primary-tinted {
        filter: brightness(1.0);
    }
}

/* Body */
html {
    background-color: var(--primary-background);
}

body {
    margin: 0 0 0 0;
}

html, body {
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Container */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 0;
    padding-top: 16pt;

    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
}

/* Caption */
.caption h1 {
    margin: 16pt 16pt 8pt 16pt;
    color: var(--primary-text);

    font-size: 28pt;
    font-weight: 700;
    text-align: center
}

/* Content */
.profile-picture {
    border-radius: 50%;
    margin: 32pt;
}

.content {
    border-radius: 16pt;
    padding: 16pt;
    margin: 16pt;

    background: var(--secondary-background);
    display: flex;
    flex-direction: column;
    max-width: 400pt;

    line-height: 1.2;
    color: var(--primary-text);
}

.content h1 {
    margin: 0;
    font-size: 26pt;
    font-weight: 700;
}

.content h2 {
    margin: 0;
    font-size: 16pt;
    font-weight: 500;
}

.content p {
    margin-bottom: 0;
    font-size: 14pt;
    font-weight: 400;
}

.content a {
    color: var(--primary-text);
    text-decoration: underline;
}

/* Links */
.links {
    padding: 0;
    margin: 0 0 0 0;
    list-style-type: none;

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links li {
    margin: 8pt;
    padding: 12pt;
    width: 24pt;
    height: 24pt;
    border-radius: 12pt;
    color: var(--primary-text);
    background: var(--secondary-background);

    font-size: 18pt;
    font-weight: 700;
}

.links img {
    width: 24pt;
    height: 24pt;
}

.links a {
    color: var(--primary-text);
    text-decoration: none;
}

.links a:hover {
    color: var(--primary-text);
    text-decoration: none;
}

/* Footer */
footer {
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    margin-top: 32pt;
    margin-bottom: 16pt;
}

@supports(margin-bottom: max(0pt)) {
    footer {
        margin-bottom: max(16pt, calc(env(safe-area-inset-bottom) + 32pt));
    }
}

footer p {
    color: var(--tertiary-text);
    font-size: 13pt;
    font-weight: 500;
    text-align: center;
    margin: 0 0 0 0;
}

footer a {
    color: var(--tertiary-text);
}

/* General */
a {
    transition: color 0.15s;
}

a:hover {
    transition: color 0.15s;
    color: var(--tint);
    text-decoration: underline;
}

.highlightable {
    transition: background 0.3s;
}

.highlightable:hover {
    background: var(--highlighted);
}

@media only screen and (max-width: 370px) {
    .profile-picture {
        margin: 8pt;
    }
    .links {
        flex-direction: column;
    }
}

/* Fonts */
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 500;
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 700;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
